<div class="hero__card"></div>

{% schema %}
{
  "name": "Hero Seccion",
  "tag": "section",
  "class": "hero__container",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Hero text"
    }
  ],
  "max_blocks": 5,
  "blocks": [
      {
        "name": "Hero",
        "type": "hero",
        "settings": [
          {
            "type": "text",
            "id": "image",
            "label": "texto del hero"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Hero Contenido",
      "settings": {
        "title": "Hero"
      },
      "blocks": [
        {
          "type": "hero"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Hero Seccion"
    }
  }
}
{% endschema %}
