<link rel="stylesheet" href="{{ 'hero.css' | asset_url }}" media="print" onload="this.media='all'">


<div class="hero__card">

    {% for block in section.blocks %}
            <div class="hero__card__container">

              <div class="text-content">
                <h4>{{ block.settings.title_card }}</h4>
                <p>{{ block.settings.content_card }}</p>
                
              </div>
              <img src="{{ block.settings.image_card | img_url: '750x' }}" class="img-card">

            </div>
            {% endfor %}

  </div>

</div>

{% schema %}
{
    "name": "Tarjetas del home",
    "max_blocks": 12,
    "class": "hero__container",
    "settings": [
        {
        "type": "text",
        "id": "section_title",
        "label": "Titulo de la sección",
        "default": "Información importante"
        }
    ],
    "blocks": [
        {
        "type" : "text_block",
        "name" : "Tarjetas",
        "settings" : [
            {
                "type":"image_picker",
                "id": "image_card",
                "label": "Imagen de la tarjeta"
            },
            {
                "type":"text",
                "id": "title_card",
                "label": "Titulo de la tarjeta"
            },
            {
                "type":"richtext",
                "id": "content_card",
                "label": "Texto de la tarjeta"
            }
        ]}
    ],	
    "presets": [
        {
        "name": "Tarjetas de contenido",
        "category": "Custom content",
        "blocks": [
            {
                "type": "text_block"
            }
        ]
    }
  ]
}
{% endschema %}
