<div class="hero__card"></div>

{% schema %}
{
    "name": "Hero del home",
    "max_blocks": 12,
    "settings": [
        {
        "type": "text",
        "id": "section_title",
        "label": "Titulo de la sección",
        "default": "Información importante"
        }
    ],
    "blocks": [
        {
        "type" : "text_block",
        "name" : "Tarjetas",
        "settings" : [
            {
                "type":"image_picker",
                "id": "image_card",
                "label": "Imagen de la tarjeta"
            },
            {
                "type":"text",
                "id": "title_card",
                "label": "Titulo de la tarjeta"
            },
     
        ]}
    ],	
    "presets": [
        {
        "name": "Hero de contenido",
        "category": "Custom content",
        "blocks": [
            {
                "type": "text_block"
            },
            {
                "type": "text_block"
            }
        ]
    }
  ]
}
{% endschema %}