<div>Hola</div>


{% schema %}
{
    "name": "Tarjetas de productos",
    "class": "hero__container",
    "limit":1,
    "settings": [
        {
        "type": "text",
        "id": "section_producto",
        "label": "Titulo de la sección",
        "default": "Información de productos"
        }
    ],

    "presets": [
        {
        "name": "Tarjetas de productos",
        "category": "Custom content"
    }
  ]
}
{% endschema %}
