<link rel="stylesheet" href="{{ 'cards-products.css' | asset_url }}" media="print" onload="this.media='all'">



<div class="cards-product-container">

  {% for block in section.blocks %}
            <div class="product__card">
              <img src="{{ block.settings.image_card | img_url: '750x' }}" class="img-card-product">
              <h3>{{}}</h3>

            </div>
            {% endfor %}
</div>


{% schema %}
{
    "name": "Tarjetas de productos",
    "class": "product__container",
    "limit":1,
    "max_blocks": 12,
    "settings": [
        {
        "type": "text",
        "id": "section_producto",
        "label": "Titulo de la sección",
        "default": "Información de productos"
        }
    ],
       "blocks": [
        {
        "type" : "product_block",
        "name" : "Tarjetas",
        "settings" : [
            {
                "type":"image_picker",
                "id": "image_card",
                "label": "Imagen de la tarjeta"
            },
            {
                "type":"text",
                "id": "title_card_product",
                "label": "Titulo de la tarjeta"
            },
            {
                "type":"richtext",
                "id": "content_card_product",
                "label": "Texto de la tarjeta"
            }
        ]}
    ],	

    "presets": [
        {
        "name": "Tarjetas de productos",
        "category": "Custom content",
        "blocks": [
            {
                "type": "product_block"
            },
            {
                "type": "product_block"
            },
            {
                "type": "product_block"
            },
            {
                "type": "product_block"
            },
            {
                "type": "product_block"
            },
            {
                "type": "product_block"
            }
        ]
    }
  ]
}
{% endschema %}
